:root {
    --dark-gray: #393939;
    --green: #6D8C54;
    --green-transparent: rgba(109,140,84, 0.2);
    --light-green: #AFB9A7;
    --header-text-color: #30A242;
    --footer-color: #F2EEE9;
    --gray-color: #514F61;
    --light-text-color: #888888;
    --text-color: #393939;
    --bg-color: #fff;
    --menu-hover: rgba(255,255,255,0.3);
    --img-bg: rgba(0,0,0,0.15);
    --img-bg-hover: rgba(0,0,0,0.25);
}