:root {
  --dark-gray: #393939;
  --green: #6d8c54;
  --green-hover: #30a242;
  --green-transparent: rgba(109, 140, 84, 0.2);
  --light-green: #afb9a7;
  --header-text-color: #30a242;
  --footer-color: #f2eee9;
  --gray-color: #514f61;
  --light-text-color: #888888;
  --text-color: #393939;
  --bg-color: #fff;
  --menu-hover: rgba(255, 255, 255, 0.3);
  --img-bg: rgba(0, 0, 0, 0.15);
  --img-bg-hover: rgba(0, 0, 0, 0.25);
}
