section.page {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 0 150px;
}

.page-content {
  font-weight: 300;
  font-family: "Oswald", sans-serif !important;
}

.page-content p {
  font-family: "Oswald", sans-serif !important;
  margin-bottom: 20px;
  /* text-indent: 10px; */
}

.page-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.page-item {
  display: flex;
  align-items: center;
  gap: 30px;
}

.pi-img {
  flex: none;
  width: 278px;
  height: 176px;
  background: var(--img-bg);
  overflow: hidden;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.pi-text {
}

.commentator {
  display: flex;
  gap: 20px;
}

.com-body {
  display: flex;
  flex-direction: column;
}

.com-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}

.com-title h2 {
  color: var(--light-text-color);
}

@media screen and (max-width: 900px) {
  section.page {
    gap: 20px;
    padding: 0;
  }
}
