# Подключение плагина mysql_native_password
# mysql -pRoiNext && alter user 'gb_x_akkor'@'%' IDENTIFIED WITH mysql_native_password BY 'cf1064c30op';

# select user,authentication_string,plugin,host FROM mysql.user;
# alter user 'gb_x_akkor'@'%' IDENTIFIED WITH mysql_native_password BY 'cf1064c30op';

[mysqld]

mysql_native_password=ON