.headbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
  width: 100%;
}

.headbar .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1170px;
  width: 100%;
}

.headbar-right {
  display: flex;
  gap: 20px;
}

.date {
  font-size: 12px;
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
.date::before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background: url(../../../img/date.svg) no-repeat center;
  background-size: contain;
}

.socials {
  display: flex;
  gap: 14px;
}

.enter-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.enter-links a {
  font-size: 12px;
  text-decoration: none;
  color: var(--light-text-color);
}

.enter-links a:hover {
  font-size: 12px;
  text-decoration: underline;
  color: var(--header-text-color);
}

@media screen and (max-width: 1200px) {
  .headbar {
    width: auto;
    padding: 0 20px;
  }
}

@media screen and (max-width: 900px) {
  .headbar {
    display: block;
    left: 0;
    right: 0;
    position: fixed;
    top:0;
    padding: 0 10px;
    height: 16px;
    background: #fff;
    z-index: 555;
  }

  .headbar .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1170px;
    width: 100%;
    height: 100%;
  }
  
  .headbar-right {
    display: flex;
    gap: 20px;
  }
  
  .date {
    font-size: 11px;
    line-height: 11px;
  }
  .date::before {
    width: 12px;
    height: 12px;
  }
  
  .socials {
    display: none;
  }

  .enter-links a {
    font-size: 11px;
    line-height: 11px;
  }
}
