.mainmenu {
  display: flex;
  background: var(--green);
  border-radius: 10px;
  justify-content: space-between;
}

.logobar {
  display: none;
}

.mbuttons {
  display: none;
}
.burger {
}
.msearch {
}

ul.menu {
  display: flex;
  list-style: none;
}

ul.menu li {
  position: relative;
  margin: 0;
  border-radius: 10px;
  transition: all ease-out 300ms;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: all ease-out 300ms;
  -moz-transition: all ease-out 300ms;
  -ms-transition: all ease-out 300ms;
  -o-transition: all ease-out 300ms;
}

ul.menu li.active,
.menu a.active {
  background: var(--green-light);
}

ul.menu li a,
ul.menu li span {
  display: block;
  border-radius: 10px;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
}

.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--green);
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.submenu.show {
  display: block;
}

.submenu ul.menu {
  flex-direction: column;
}

.submenu ul.menu li {
  position: relative;
  text-wrap: nowrap;
  margin: 0;
  border-radius: 10px;
  transition: all ease-out 300ms;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  -webkit-transition: all ease-out 300ms;
  -moz-transition: all ease-out 300ms;
  -ms-transition: all ease-out 300ms;
  -o-transition: all ease-out 300ms;
}

.submenu ul.menu li a {
  display: block;
  padding: 10px 20px;
  width: 100%;
}

.search {
  /* position: absolute; */
  height: 100%;
  display: flex;
  align-items: center;
  border-left: 1px solid var(--menu-hover);
  padding: 0 16px;
  gap: 15px;
}

#search-block-form {
  display: flex;
}
.form-item-search-block-form {
  margin: 0;
}

.search input[type="text"],
.form-search {
  border: none;
  color: rgba(255, 255, 255, 0.3);
  background: transparent;
  height: 28px;
  border-radius: 5px;
  transition: all ease-out 300ms;
}

.search input[type="text"]:focus-visible,
.form-search:focus-visible {
  background-color: var(--menu-hover);
  color: #000;
  border: none !important;
  outline: none !important;
  outline-offset: none !important;
}

.search button.find,
.search input[type="submit"] {
  background: transparent url(../../../img/search.svg) no-repeat center;
  width: 32px;
  height: 32px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.search button.find:hover {
  background-color: var(--menu-hover);
}

@media (hover: hover) {
  ul.menu li:hover {
    background: var(--menu-hover);
  }
}

@media (hover: none) {
}

@media screen and (max-width: 1200px) {
  .mainmenu {
    position: relative;
    /* overflow: hidden; */
  }

  .search {
    right: 0;
    top: 0;
    height: 100%;
    /* background: var(--dark-gray); */
    border-radius: 0 10px 10px 0;
    gap: 5px;
  }
  .search input[type="text"] {
    width: 0;
  }
  .search.open {
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.4);
  }
  .search.open input[type="text"] {
    width: auto;
  }
}

@media screen and (max-width: 900px) {
  .logobar {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mainmenu {
    overflow-y: scroll;
    position: fixed;
    justify-content: flex-start;
    flex-direction: column;
    top: 0;
    height: 100%;
    gap: 20px;
    left: 100%;
    transform: translateX(50px);
    transition: all ease-out 500ms;
    border-radius: 0;
    padding: 25px 15px;
    background: var(--bg-color);
    box-shadow: -10px 0 30px rgba(0, 0, 0, 0.3);
    -webkit-transform: translateX(50px);
    -moz-transform: translateX(50px);
    -ms-transform: translateX(50px);
    -o-transform: translateX(50px);
    z-index: 777;
  }
  .mainmenu.open {
    transform: translateX(-100%);
  }
  ul.menu {
    flex-direction: column;
    gap: 16px;
  }

  ul.menu li {
    border-radius: 10px;
    font-weight: 300;
    transition: all ease-out 300ms;
  }

  ul.menu li.active {
    background: transparent;
    border-bottom: 2px solid var(--green);
  }
  .submenu ul.menu li.active {
    background: var(--green);
  }

  ul.menu li.active a {
    color: var(--text-color) !important;
  }

  ul.menu li:hover {
    background: var(--menu-hover);
  }

  ul.menu li a,
  ul.menu li span {
    padding: 5px 20px;
    text-decoration: none;
    color: var(--dark-gray);
  }

  .submenu {
    position: relative;
    top: auto;
    left: auto;
    border-radius: 10px;
    box-shadow: none;
    background: none;
    padding-bottom: 16px;
  }

  .submenu ul.menu li {
    text-wrap: nowrap;
    margin: 0;
    border-radius: 10px;
  }

  .submenu ul.menu li a {
    display: block;
    padding: 5px 20px;
    width: auto;
    color: var(--text-color) !important;
  }

  ul.menu li.active a {
  }

  .submenu.show {
    background: rgba(0, 0, 0, 0.1);
  }

  .search {
    height: 100%;
    height: auto;
    position: relative;
    background: transparent;
    padding: 0;
  }
  .search input[type="text"] {
    width: auto;
    background-color: var(--img-bg);
  }
  .search button.find {
    background: transparent url(../../img/search-dark.svg) no-repeat center;
    background-size: 60%;
  }

  .mbuttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-right: 20px;
  }
  .burger {
    position: relative;
    display: block;
    width: 18px;
    height: 14px;
    cursor: pointer;
  }
  .burger div {
    position: absolute;
    left: 0;
    background: var(--bg-color);
    width: 18px;
    height: 2px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
  }
  .burger div:nth-child(0) {
    top: 0;
  }
  .burger div:nth-child(1) {
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  .burger div:nth-child(2) {
    bottom: 0;
  }

  .msearch {
    background: transparent url(../../img/search.svg) no-repeat center;
    width: 32px;
    height: 32px;
    background-size: 60%;
  }

  .logobar .logo {
    height: 41px;
    width: 78px;
  }

  .close {
    display: block;
    width: 24px;
    height: 24px;
    background: url(../../img/close.svg) no-repeat center;
  }
}
