.tags {
    display: flex;
    gap: 20px;
}

.tag {
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    color: #fff;
    background-color: var(--light-green);
    text-wrap: nowrap;
}

.tags.dark .tag {
    background-color: var(--green);
}

.tag.active {
    background-color: var(--green);
}