
.events {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.events-list {
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.event {
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--img-bg);
    transition: all ease-out 300ms;
}

.event:hover {
    background-color: var(--img-bg-hover);
}