.soc {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  border-radius: 13px;
  background-color: var(--green);
  cursor: pointer;
}

.soc:hover {
  background-color: var(--green-hover);
}

.soc.big {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.soc.vk::before {
  content: "";
  background: url(../../../img/vk.svg) no-repeat center;
  background-size: contain;
  width: 16px;
  height: 16px;
}
.soc.ok::before {
  content: "";
  background: url(../../../img/ok.svg) no-repeat center;
  background-size: contain;
  width: 16px;
  height: 16px;
}
.soc.tg::before {
  content: "";
  background: url(../../../img/tg.svg) no-repeat center;
  background-size: contain;
  width: 16px;
  height: 16px;
  transform: translateX(-1px);
}
.soc.zen::before {
  content: "";
  background: url(../../../img/zen.svg) no-repeat center;
  background-size: contain;
  width: 16px;
  height: 16px;
}
.soc.ten::before {
  content: "";
  background: url(../../../img/ten.svg) no-repeat center;
  background-size: contain;
  width: 16px;
  height: 16px;
}
.soc.big.vk::before {
  width: 24px;
  height: 24px;
}
.soc.big.ok::before {
  width: 24px;
  height: 24px;
}
.soc.big.tg::before {
  width: 24px;
  height: 24px;
  transform: translateX(-2px);
}
.soc.big.zen::before {
  width: 24px;
  height: 24px;
}
.soc.big.ten::before {
  width: 24px;
  height: 24px;
}
