.news {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.item h3 {
  font-size: 15px;
  font-weight: 500;
}

.item h3 a {
  color: var(--text-color);
}
.item h3 a:hover {
  color: var(--header-text-color);
  text-decoration: none;
}

.intro {
  font-size: 14px;
  font-weight: 400;
}

.dsg-news {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.dsg-list {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
}

.dsg-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.dsg-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dsg-text h3 {
  font-size: 14px;
  font-weight: 500;
}

.dsg-text h3 a {
  color: var(--text-color);
}
.dsg-text h3 a:hover {
  color: var(--header-text-color);
  text-decoration: none;
}

.dsg-img {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  background-color: var(--img-bg);
}

@media screen and (max-width: 900px) {
  .dsg-list {
    flex-direction: column;
  }
}
