.main-partners {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main-partners-list {
    display: flex;
    gap: 30px;
}

.main-partner {
    flex:1;
    height: 175px;
    border-radius: 10px;
    background-color: var(--img-bg);
    transition: all ease-out 300ms;
}
.main-partner:hover {
    background-color: var(--img-bg-hover);
}

.partners {
    position: relative;
    overflow: hidden;
}

.partners-wrapper {
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin: auto;
    left: 50%;
    transform: translateX(-50%);
}

.partner {
    float: left;
    background-color: var(--img-bg);
    width: 100px;
    height: 100px;
    transition: all ease-out 300ms;
    margin: 20px;
    border-radius: 5px;
}

.partner:hover {
    background-color: var(--img-bg-hover);
    height: 100px;
}